* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, rgb(0, 0, 0) 0%, rgba(0, 112, 218, 1) 90%);
    background-size: cover;
    height: 3240px;
}


/*====================HEADER===================*/

.header {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 6%;
    display: block;
    background: #131313;
}

.inner_header {
    margin-left: 25%;
    margin-right: 25%;
    width: 50vw;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    display: table;
    float: left;
    height: 30px;
}

.logo_container h1 {
    color: #e2e2e2;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.logo_container h1 span {
    font-weight: 800;
    color: #ce0000;
    font-size: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.navbar {
    display: flex;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navbar a {
    height: 100%;
    float: left;
    display: table;
    padding: 0px 20px;
}

.navbar a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.home {
    font-weight: bolder;
    color: #ce0000;
    font-size: 15px;
}

.sair {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.login {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.registrar {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.sobre {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.nge {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

#teoe {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.re {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.pagina_atual {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.container {
    padding: 50px;
}


/*====================HEADER===================*/


/*====================FOOTER===================*/

footer {
    width: 100%;
    padding: 0;
}

.page-footer {
    padding-top: 30px;
    padding-bottom: 0px;
    background-color: #131313;
    color: #fff;
}

#container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 1280px;
}

#contact .area-endereco {
    display: flex;
    flex-direction: column;
}

.a-footer {
    margin: 16px 0;
    font-size: 17px;
    color: #4bc0e4;
    text-decoration: none;
}

.a-footer:hover {
    color: #ce0000;
    text-decoration: underline;
}

#a-footer-1 {
    color: #ce0000;
}

#a-footer-1:hover {
    color: #ce0000;
    text-decoration: underline;
}

hr {
    height: 0;
    border-color: #ce0000;
    margin: 30px;
}

#copyright {
    text-align: center;
}

.navbar .img-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}


/*====================FOOTER===================*/