* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
}

.home {
    font-weight: lighter;
    color: #ffff;
    font-size: 15px;
}

.voltar {
    font-weight: lighter;
    color: #ffff;
    font-size: 15px;
}

.atual {
    font-weight: bolder;
    font-size: 15px;
    color: #ce0000;
}

#check {
    display: none;
}

#icone {
    left: -40px;
    cursor: pointer;
    padding: 45px;
    position: fixed;
    z-index: 3;
}

.barra {
    background-color: #333333;
    height: 2000px;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
    margin-top: 49px;
}

nav {
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link {
    background-color: #494950;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    transition: .2s linear;
    color: #ffff;
    border-bottom: 2px solid #222;
    opacity: 0;
    margin-top: 200px;
}

.link:hover {
    background-color: #ce0000;
}

#check:checked~.barra {
    position: fixed;
    transform: translateX(300px);
}

#check:checked~.barra nav a .link {
    position: relative;
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

.enredo h1 {
    margin: 0 auto;
    align-self: start;
    font-family: serif;
    color: white;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
    background-color: #000000;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 550px;
    padding: 20px;
    text-align: center;
}

.enredonge {
    background-color: #494950;
    position: relative;
    width: 50%;
    margin: auto;
    margin-right: 50%;
    margin-left: 25%;
    padding-top: 25%;
    font-size: 35px;
    color: white;
}