* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #131313;
    height: 3240px;
}


/*====================HEADER===================*/

.header {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 6%;
    display: block;
    background: #131313;
}

.inner_header {
    width: 65vw;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    display: table;
    float: left;
    height: 30px;
}

.logo_container h1 {
    color: #e2e2e2;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
}

.logo_container h1 span {
    color: #ce0000;
    font-size: 30px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.navbar {
    float: right;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navbar a {
    display: table;
    padding: 0px 20px;
    font-weight: bolder;
    color: white;
    font-size: 15px;
}

.navbar li {
    text-decoration: none;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.navbar li:hover {
    background-color: #808080;
    width: 100%;
}

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
}

.toggle-button {
    z-index: 10;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #ce0000;
    border-radius: 10px;
}

#personagens {
    display: block;
    width: 1150px;
    height: 100%;
}

@media (max-width: 1520px) {
    .toggle-button {
        display: flex;
        right: 3rem;
    }
    .navbar {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li a {
        padding: .1rem 1rem;
    }
    .navbar li {
        width: 100%;
    }
    .navbar.active {
        background-color: #131313;
        width: 660vw;
        margin-right: -298vw;
        height: 20vh;
        margin-top: -5px;
        opacity: 0.9;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .bg-image-nge {
        width: 95rem;
    }
    .bg-text-nge {
        width: 20rem;
    }
    #bg-text-nge {
        width: 20rem;
    }
    .bg-image-teoe {
        width: 95rem;
    }
    .bg-text-teoe {
        width: 20rem;
        top: 160%;
    }
    #bg-text-teoe {
        width: 20rem;
        top: 220%;
    }
    .bg-image-roe {
        width: 95rem;
    }
    #bg-text-roe {
        top: 340%;
        width: 20rem;
    }
    .texto-registro h2 {
        display: none;
    }
    .texto-registro h1 {
        display: none;
    }
    .texto-registro {
        display: none;
    }
}

@media (max-width: 990px) {
    .toggle-button {
        display: flex;
        right: 1rem;
    }
    .navbar {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li a {
        padding: .1rem 1rem;
    }
    .navbar li {
        width: 100%;
    }
    .navbar.active {
        background-color: #131313;
        width: 660vw;
        margin-right: -298vw;
        height: 20vh;
        margin-top: -5px;
        opacity: 0.9;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .bg-image-nge {
        width: 70rem;
    }
    .bg-text-nge {
        top: 60%;
        width: 20rem;
        position: absolute;
    }
    .bg-image-teoe {
        width: 70rem;
    }
    .bg-text-teoe {
        top: 165%;
        width: 20rem;
        position: absolute;
    }
    .bg-image-roe {
        width: 70rem;
    }
    .bg-text-roe {
        top: 325%;
        width: 20rem;
        position: absolute;
    }
    .texto-registro h2 {
        display: none;
    }
    .texto-registro h1 {
        display: none;
    }
    .texto-registro {
        display: none;
    }
}

.div-registro.active {
    width: 20em;
    height: auto;
    position: fixed;
    background-color: #131313;
    margin-left: 15.2%;
    padding: 520px 30px;
    transform: translate(-55px, -245px);
    border-radius: 5px;
}

.div-login.active {
    width: 20em;
    height: auto;
    position: fixed;
    background-color: #131313;
    margin-left: 15.2%;
    padding: 520px 30px;
    transform: translate(-55px, -245px);
    border-radius: 5px;
}

.logo {
    display: block;
}

.home {
    font-weight: bolder;
    color: #ce0000;
    font-size: 15px;
}

.sair {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.login {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.registrar {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.sobre {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.nge {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

#teoe {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.re {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.pagina_atual {
    font-weight: lighter;
    color: white;
    font-size: 15px;
}

.container {
    padding: 50px;
}

@media (max-width: 400px) {
    .header {
        width: 105vw;
    }
    .inner_header {
        width: 80vw;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .toggle-button {
        display: flex;
        right: 1rem;
        top: 5rem;
    }
    .navbar {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar li a {
        padding: .1rem 1rem;
    }
    .navbar li {
        width: 100%;
    }
    .navbar.active {
        background-color: #131313;
        width: 670vw;
        margin-right: -298vw;
        height: 20vh;
        margin-top: 5rem;
        opacity: 0.9;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .bg-image-nge {
        width: 30rem;
        ;
    }
    .bg-text-nge {
        width: 10rem;
        margin-left: 5%;
    }
    .bg-image-teoe {
        width: 70rem;
    }
    .bg-text-teoe {
        width: 20rem;
    }
    .bg-image-roe {
        width: 70rem;
    }
    .bg-text-roe {
        width: 20rem;
    }
    .texto-registro h2 {
        display: none;
    }
    .texto-registro h1 {
        display: none;
    }
    .texto-registro {
        display: none;
    }
}


/*====================HEADER===================*/


/*====================FOOTER===================*/

.footer {
    width: 100vw;
    padding: 0;
}

.page-footer {
    width: 100vw;
    padding-top: 20px;
    background-color: #131313;
    color: #fff;
    font-family: "Lato", sans-serif;
}

#container-footer {
    width: 100vw;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: -40px;
    max-width: 1280px;
}

#contact .area-endereco {
    display: flex;
    flex-direction: column;
}

.a-footer {
    margin: 16px 0;
    font-size: 17px;
    color: #4bc0e4;
    text-decoration: none;
}

.a-footer:hover {
    color: #ce0000;
    text-decoration: underline;
}

#a-footer-1 {
    color: #ce0000;
}

#a-footer-1:hover {
    color: #ce0000;
    text-decoration: underline;
}

hr {
    height: 0;
    border-color: #ce0000;
    margin: 30px;
}

#copyright {
    text-align: center;
}

.navbar .img-profile {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}


/*====================FOOTER===================*/

 ::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}