body {
    background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%, rgb(0, 0, 0) 0%, rgb(0, 83, 161) 90%);
    background-size: cover;
    height: 970px;
}

.fundo-registro {
    position: absolute;
    height: 750px;
    /*Altura*/
    display: flex;
    /*Permite um layout flexível, reorganizando de acordo com a necessidade.*/
    align-items: center;
    /*Alinhamento dos itens verticalmente*/
    align-content: center;
    /**/
}

.body-registro .registro-area {
    width: 100%;
    /*Largura*/
    display: flex;
    /*Permite um layout flexível, reorganizando de acordo com a necessidade.*/
    margin-top: 100px;
    justify-content: space-around;
    /*Alinhando os items horizontalmente e */
}

.body-registro .flex-container {
    justify-content: end;
    /*Coloca os itens no final da página horizontalmente*/
    align-items: center;
    /*Alinhando os itens verticalmente*/
}

.div-registro {
    width: 20em;
    height: auto;
    background-color: #131313;
    /*Cor de fundo*/
    margin-left: 650px;
    /*Margem externa da esquerda*/
    margin-right: 90px;
    /*Margem externa da direita*/
    padding: 531px 46px;
    /*Margem interna*/
    border-radius: 5px;
    /*Arredondamento da borda*/
}

.div-registro h1 {
    display: flex;
    justify-content: space-around;
    color: white;
    text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
    z-index: 2;
    background-color: #000000;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 30px;
    display: flex;
    transform: translate(700px, -75px);
    width: 345px;
}

.div-text {
    width: 100%;
    /*Largura*/
    align-items: center;
    /*Alinhamento os itens verticalmente*/
    margin-left: 200px;
    /*Margem extera da esqueda*/
}

.div-text h1 {
    font-size: 3.4em;
    /*Tamanho da fonte*/
    line-height: 1.4em;
    /*Altura da linha*/
    color: #FFF;
    /*Cor do texto*/
    margin-bottom: 16px;
    /*Margem externa inferior*/
    margin-top: 0;
    /*Margem externa superior*/
}

.div-text .h1_1 {
    margin-top: 30px;
    /*Margem externa superior*/
}

.div-registro p {
    width: 290px;
    /*Largura*/
    margin-top: 10px;
    /*Margem externa superior*/
    font-size: 0.9em;
    /*Tamanho da fonte*/
    letter-spacing: 0.01em;
    /*Espaçamento da fonte*/
    color: #5D5D5D;
    /*Cor do texto*/
}

.div-registro input {
    width: 280px;
    /*Largura*/
    height: 2.0em;
    /*Altura*/
    border-radius: 5px;
    /*Arredondamento da borda*/
    margin-top: 0.9em;
    /*Margem externa superior*/
    padding-left: 40px;
    /*Margem interna da esquerda*/
    font-size: 14px;
    /*Tamanho da fonte*/
    display: flex;
    /*Permite um layout flexível, reorganizando de acordo com a necessidade.*/
    align-items: center;
    /*Alinhamento dos itens verticalmente*/
    border: solid 1px #2A2A2A;
    /*Borda*/
}

.div-registro #ipt_email {
    color: #fff;
    background: no-repeat 5% center;
    /*Imagem de fundo*/
    background-size: 18px;
    /*Tamanho da imagem de fundo*/
}

.div-registro #ipt_password {
    color: #fff;
    background: no-repeat 5% center;
    /*Imagem de fundo*/
    background-size: 18px;
    /*Tamanho da imagem de fundo*/
}

.div-registro #ipt_email:focus {
    border: 1px solid #ce0000;
    /*Borda*/
    box-shadow: 0px 0px 3px #1a86a7cc;
    /*Sombra da borda*/
    background: no-repeat 5% center;
    /*Imagem de fundo*/
    background-size: 18px;
    /*Tamanho da imagem de fundo*/
    transition: .6s;
    /*Tempo de transição*/
    outline: none;
    /**/
}

.div-registro #ipt_password:focus {
    border: 1px solid #ce0000;
    /*Borda*/
    box-shadow: 0px 0px 3px #1a86a7cc;
    /*Sombra da borda*/
    background: no-repeat 5% center;
    /*Imagem de fundo*/
    background-size: 18px;
    /*Tamanho da imagem de fundo*/
    transition: .6s;
    /*Tempo de transição*/
    outline: none;
    /**/
}

.div-registro #ipt_passwordc:focus {
    border: 1px solid #ce0000;
    /*Borda*/
    box-shadow: 0px 0px 3px #1a86a7cc;
    /*Sombra da borda*/
    background: no-repeat 5% center;
    /*Imagem de fundo*/
    background-size: 18px;
    /*Tamanho da imagem de fundo*/
    transition: .6s;
    /*Tempo de transição*/
    outline: none;
    /**/
}

.div-registro #ipt_nome:focus {
    border: 1px solid #ce0000;
    box-shadow: 0px 0px 3px #1a86a7cc;
    background: no-repeat 5% center;
    background-size: 18px;
    transition: .6s;
    outline: none;
}

.div-registro::placeholder {
    color: #848484;
    /*Cor do texto*/
}

.div-registro a {
    font-size: 0.9em;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    text-decoration: underline;
    color: #ffff;
    justify-content: flex-start;
    margin-top: 0.6em;
}

.div-registro .btn_registro {
    width: 100%;
    /*Largura*/
    height: 2.4em;
    /*Altura*/
    background: linear-gradient(90deg, #24A4A5 0%, #0053a1 78.46%);
    /*Cor do fundo*/
    margin-top: 1.4em;
    /*Margem externa superior*/
    margin-bottom: 0;
    /*Margem externa inferiir*/
    border-radius: 50px;
    /*Arredondamento da borda*/
    font-weight: 500;
    /*Grossura da fonte*/
    font-size: 16px;
    /*Tamanho da fonte*/
    line-height: 21px;
    /*Altura da linha*/
    border: none;
    /*Borda*/
    color: #FFFFFF;
    /*Cor do texto*/
    cursor: pointer;
    /*Cursor*/
}